[submodule "Plugins/marketch"]
	path = Plugins/marketch
	url = git://github.com/tudou527/marketch
[submodule "Plugins/CSSketch"]
	path = Plugins/CSSketch
	url = git://github.com/JohnCoates/CSSketch
[submodule "Plugins/duplicator"]
	path = Plugins/duplicator
	url = git://github.com/turbobabr/duplicator
[submodule "Plugins/sketch-palettes"]
	path = Plugins/sketch-palettes
	url = git://github.com/andrewfiorillo/sketch-palettes
[submodule "Plugins/sketch-measure"]
	path = Plugins/sketch-measure
	url = git://github.com/utom/sketch-measure
[submodule "Plugins/Sketch-Flex-Layout"]
	path = Plugins/Sketch-Flex-Layout
	url = git://github.com/hrescak/Sketch-Flex-Layout
[submodule "Plugins/Sketch-Style-Inventory"]
	path = Plugins/Sketch-Style-Inventory
	url = git://github.com/getflourish/Sketch-Style-Inventory
[submodule "Plugins/Fluid-for-Sketch"]
	path = Plugins/Fluid-for-Sketch
	url = git://github.com/matt-curtis/Fluid-for-Sketch
[submodule "Plugins/Sketch-Constraints"]
	path = Plugins/Sketch-Constraints
	url = git://github.com/bouchenoiremarc/Sketch-Constraints
[submodule "Plugins/sketch-origami-export"]
	path = Plugins/sketch-origami-export
	url = git://github.com/tarngerine/sketch-origami-export
[submodule "Plugins/Typograph"]
	path = Plugins/Typograph
	url = git://github.com/dezonik/Typograph
[submodule "Plugins/sync.sketchplugin"]
	path = Plugins/sync.sketchplugin
	url = git://github.com/nolastan/sync.sketchplugin
[submodule "Plugins/sketch-text-tools"]
	path = Plugins/sketch-text-tools
	url = git://github.com/automat/sketch-text-tools
[submodule "Plugins/Golden-Ratio-Line-Height-Sketch-Plugin"]
	path = Plugins/Golden-Ratio-Line-Height-Sketch-Plugin
	url = git://github.com/lorenzwoehr/Golden-Ratio-Line-Height-Sketch-Plugin
[submodule "Plugins/Prott-Sketch-Plugin"]
	path = Plugins/Prott-Sketch-Plugin
	url = git://github.com/goodpatch/Prott-Sketch-Plugin
[submodule "Plugins/sketch-iconfont"]
	path = Plugins/sketch-iconfont
	url = git://github.com/keremciu/sketch-iconfont
[submodule "Plugins/Align-text-baseline-sketch-plugin"]
	path = Plugins/Align-text-baseline-sketch-plugin
	url = git://github.com/soutaro/Align-text-baseline-sketch-plugin
